## You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
## Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=XXXXXXXX

# Update these with your pinecone details from your dashboard. 
# PINECONE_INDEX_NAME is in the indexes tab under "index name" in blue
# PINECONE_ENVIRONMENT is in indexes tab under "Environment". Example: "us-east1-gcp"
OPENAI_API_KEY=
PINECONE_INDEX=
PINECONE_API_KEY=
PINECONE_ENVIRONMENT=